body {
    background-color: #B0B7BC;
}

h1 {
    color:  #002244;
    text-align: center;
}

p {
    color:  #002244;
    text-align: center;
}

dt {
    color: #C60C30;
}

dd {
    color: #002244;
}

