body {
    background-color: #B0B7BC;
}

h1 {
    color:  #002244;
    text-align: center;
}

h2 {
    margin-left: 100px;
}

p {
    color:  #002244;
    text-align: center;
}

dl {
    margin-left: 200px;
}

dt {
    color: #C60C30;
}

dd {
    color: #002244;
}

button {
    text-align: left;
    cursor: pointer;
}

